# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# VS Code
.vscode/

# Application specific
input_images/*
!input_images/.gitkeep
output/transcriptions/*
!output/transcriptions/.gitkeep
output/final_outputs/*
!output/final_outputs/.gitkeep

# OS specific
.DS_Store
Thumbs.db
